@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Montserrat+Alternates:wght@300;500&family=Poppins:wght@300&family=Slabo+27px&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    color: black;

}

/*Estilos del INDEX/HOME*/
body {
    background-color: rgb(180, 46, 180);
    background-image: linear-gradient(rgb(180, 46, 180), white);
    background-image: linear-gradient(to right, rgb(180, 46, 180), white);
}

/*Nav*/
nav {
    display: flex;
    flex-wrap: wrap;
}

.navbar-brand {
    transform: rotateY(0deg);
    transition: all 5s;
}

.navbar-brand:hover {
    transform: rotateY(360deg);

}

a {
    list-style: none;
    transition: background-color 0.5s;
}

a:hover {
    background-color: rgb(180, 46, 180);
}


/*Carrusel + Cards*/
.carrusel {
    padding: 80px;
    margin-bottom: 80px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}


/*Footer*/
footer {
    text-align: center;
    margin-top: 20px;
    background-color: rgb(182, 178, 178);
}

.redes {
    text-align: center;
    font-size: 30px;

}

.fa-solid {
    height: 40px;
    width: 40px;
    background-color: grey;
    color: #fff;
    position: fixed;
    right: 35px;
    bottom: 35px;
    text-align: center;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #fff;
}

/*Estilos de Contacto*/
/*Form*/
.mb-3 {
    margin-right: 20px;
    margin-left: 20px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-top: 70px;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px #ccc;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes aparecer {
    from {opacity: 0;}
}
to {
    opacity: 1;
}


.img5 {
    margin-top: 25px;
    width: 15rem;
    margin-left: 70px;
    transform: rotateX(0deg);
    transition: all 5s;
}

.img5:hover {
    transform: rotateX(360deg);
}

/*Estilos de Herramientas/SkinCare*/

.img7 {
    margin-top: 25px;
    width: 15rem;
    margin-left: 25px;
    margin-bottom: 35px;
    transform: rotateX(0deg);
    transition: all 5s;
}

.img7:hover {
    transform: rotateX(360deg);
}